In [1]:
import json
import pandas as pd

In [2]:
def file_path (model):
    filePath=f"/Volumes/Jennie/Reasoning/FinReasoning/output/{model}_output.json"
    return filePath

In [3]:
def evaluate(eva_file_path):
    data=pd.read_json(eva_file_path)
    # a=0
    # for question in data:
    #     if question["Model Answer"] == question["Answer"]:
    #         a+=1
    #     else:
    #         a+=0
    data["isCorrect"] = data.apply(lambda row: 1 if row['Model Answer'] == row['Answer'] else 0, axis=1)
    a=data["isCorrect"].sum()
    b=data['isCorrect'].count()
    accuracy=(a/b*100).__round__(2)
    return accuracy

In [32]:
def evaluate_topics(eva_file_path):
    data=pd.read_json(eva_file_path)
    # 计算每个答案是否正确
    data["isCorrect"] = data.apply(lambda row: 1 if row['Model Answer'] == row['Answer'] else 0, axis=1)

    data['General Topics']=data['General Topics'].apply(lambda x: 'Others' if x in other_topics  else x)

    # 计算每个 General Topics 的正确答案数量
    correct_by_topic = data.groupby('General Topics')['isCorrect'].sum().reset_index()

    # 计算每个 General Topics 的总答案数量
    count_by_topic = data.groupby('General Topics')['isCorrect'].count().reset_index()

    # 合并两个 DataFrame
    accuracy_by_topic = pd.merge(correct_by_topic, count_by_topic, on='General Topics')

    # 计算正确率
    accuracy_by_topic['accuracy%'] = round(accuracy_by_topic['isCorrect_x'] / accuracy_by_topic['isCorrect_y'] * 100, 2)

    # 重命名列
    accuracy_by_topic.columns = ['General Topics', 'correct', 'total', 'accuracy%']

    # 计算总体正确率
    total_correct = data['isCorrect'].sum()
    total_count = data['isCorrect'].count()
    overall_accuracy = round((total_correct / total_count) * 100, 2)

    # 创建一个新的 DataFrame 来存储总体正确率
    overall_accuracy_df = pd.DataFrame([['Overall', total_correct, total_count, overall_accuracy]], columns=['General Topics', 'correct', 'total', 'accuracy%'])

    # 将总体正确率 DataFrame 与 accuracy_by_topic 进行合并
    final_df = pd.concat([accuracy_by_topic, overall_accuracy_df], ignore_index=True)

    # 打印结果
    accuracy=list(final_df['accuracy%'])
    return accuracy

In [48]:
models=[
        "gpt_o1","gpt_o1_rag",
        "Gemini_Pro1","Gemini_Pro1_rag",
        "deepseek","deepseek_rag",
        "llama","llama_rag",
        "gpt_4o","gpt_4o_rag",
        "gemini_1.5_pro","gemini_1.5_pro_rag",
        "qwen","qwen_rag",
        "Llava","Llava_rag",
        "Llama_3.2_vision","Llama_3.2_vision_rag",
        "qwen2_vl","qwen2_vl_rag",
        ]
topics=['Alternative Investments',
#  'Asset Allocation',
#  'Capital Market Expectations',
 'Corporate Finance',
 'Credit Risk Measurement and Management',
 'Derivatives',
#  'Derivatives and Currency Management',
 'Economics',
 'Equity Investments',
#  'Equity Portfolio Management',
#  'Ethicaland Professional Standards',
 'Financial Markets and Products',
 'Financial Reporting and Analysis',
 'Fixed Income',
#  'Fixed-Income Portfolio Management',
 'Foundation of Risk Management',
 'Liquidity and Treasury Risk Measurement',
 'Market Risk Measurement and Management',
 'Operational Risk',
#  'Operational Risk and Resiliency',
 'Portfolio Management',
 'Quantitative Methods',
 'Risk Management and Investment Management',
 'Valuation and Risk Models',
 'Overall']
other_topics=['Fixed-Income Portfolio Management','Operational Risk','Equity Portfolio Management','Derivatives and Currency Management',
              'Asset Allocation','Ethicaland Professional Standards','Capital Market Expectations']
column=['Alternative Investments',
#  'Asset Allocation',
#  'Capital Market Expectations',
 'Corporate Finance',
 'Credit Risk Measurement and Management',
 'Derivatives',
#  'Derivatives and Currency Management',
 'Economics',
 'Equity Investments',
#  'Equity Portfolio Management',
#  'Ethicaland Professional Standards',
 'Financial Markets and Products',
 'Financial Reporting and Analysis',
 'Fixed Income',
#  'Fixed-Income Portfolio Management',
 'Foundation of Risk Management',
 'Liquidity and Treasury Risk Measurement',
 'Market Risk Measurement and Management',
 'Operational Risk',
#  'Operational Risk and Resiliency',
 'Portfolio Management',
 'Quantitative Methods',
 'Risk Management and Investment Management',
 'Valuation and Risk Models',
 "Others",
 'Overall']

In [49]:
modelAcc=[]
for model in models:
    modelAcc.append(evaluate(file_path(model)))
result={
    'Model': models,
    'Accuracy%': modelAcc
}

result=pd.DataFrame(result)
result

                   Model  Accuracy%
0                 gpt_o1      67.67
1             gpt_o1_rag      80.41
2            Gemini_Pro1      70.39
3        Gemini_Pro1_rag      78.68
4               deepseek      70.90
5           deepseek_rag      78.75
6                  llama      35.20
7              llama_rag      47.95
8                 gpt_4o      79.69
9             gpt_4o_rag      85.28
10        gemini_1.5_pro      77.53
11    gemini_1.5_pro_rag      86.00
12                  qwen      66.02
13              qwen_rag      76.68
14                 Llava      28.73
15             Llava_rag      35.47
16      Llama_3.2_vision      22.06
17  Llama_3.2_vision_rag      36.88
18              qwen2_vl      73.27
19          qwen2_vl_rag      80.40

In [11]:
result.to_csv('/Volumes/Jennie/Reasoning/FinReasoning/evaluation/Model_Accuracy.csv',index=False)

In [47]:
result.sort_values(by='Accuracy%', ascending=False)

                   Model  Accuracy%
11    gemini_1.5_pro_rag      86.00
9             gpt_4o_rag      85.28
1             gpt_o1_rag      80.41
8                 gpt_4o      79.69
5           deepseek_rag      78.75
3        Gemini_Pro1_rag      78.68
10        gemini_1.5_pro      77.53
13              qwen_rag      76.68
4               deepseek      70.90
2            Gemini_Pro1      70.39
0                 gpt_o1      67.67
12                  qwen      66.02
7              llama_rag      47.95
17  Llama_3.2_vision_rag      36.88
15             Llava_rag      35.47
6                  llama      35.20
14                 Llava      28.73
16      Llama_3.2_vision      22.06

In [50]:
topic_Acc=[]
for model in models:
    topic_Acc.append(evaluate_topics(file_path(model)))
topic_result=pd.DataFrame(topic_Acc,index=models, columns=column)
topic_result

,Alternative Investments,Corporate Finance,Credit Risk Measurement and Management,Derivatives,Economics,Equity Investments,Financial Markets and Products,Financial Reporting and Analysis,Fixed Income,Foundation of Risk Management,Liquidity and Treasury Risk Measurement,Market Risk Measurement and Management,Operational Risk,Portfolio Management,Quantitative Methods,Risk Management and Investment Management,Valuation and Risk Models,Others,Overall
gpt_o1,67.50,67.71,71.07,65.98,74.68,63.58,74.16,67.07,78.49,63.23,61.76,63.72,57.14,51.10,65.79,77.26,55.66,67.13,67.67
gpt_o1_rag,77.50,83.33,81.76,79.38,85.99,77.78,87.64,77.33,88.71,75.97,76.24,74.34,70.33,65.38,80.42,86.92,70.75,84.08,80.41
Gemini_Pro1,76.25,65.62,49.37,80.41,81.65,76.54,76.32,71.43,59.12,66.45,67.65,64.60,71.43,58.01,76.84,81.62,60.38,68.51,70.39
Gemini_Pro1_rag,81.25,78.12,62.42,83.51,84.81,84.57,84.91,78.78,69.36,72.90,80.39,72.57,81.32,70.98,83.68,85.67,70.75,79.58,78.68
deepseek,73.75,69.79,58.49,73.20,80.38,76.54,72.66,73.17,77.96,69.68,53.92,55.75,64.84,54.40,78.95,82.87,63.21,69.20,70.90
deepseek_rag,80.00,80.21,65.41,82.47,88.61,82.10,81.65,80.08,83.33,74.19,70.59,63.72,71.43,63.89,85.79,88.16,73.58,79.58,78.75
llama,36.25,37.50,49.69,26.80,43.04,38.89,25.09,35.37,67.20,32.90,24.51,19.47,37.36,26.92,31.58,40.19,26.42,26.99,35.20
llama_rag,44.87,46.88,59.87,41.24,58.86,49.38,40.47,46.34,77.96,48.37,42.00,35.40,50.55,35.71,47.37,52.34,40.00,38.49,47.95
gpt_4o,76.25,75.79,72.90,85.57,89.03,86.42,81.58,85.31,88.52,84.40,74.49,63.39,69.66,63.22,85.26,85.05,70.87,75.00,79.69
gpt_4o_rag,88.75,87.37,81.29,89.69,90.32,88.89,87.97,89.80,91.80,88.73,82.65,71.43,73.03,74.14,87.89,87.54,80.58,81.60,85.28
gemini_1.5_pro,81.25,83.33,66.67,80.41,86.71,83.33,75.66,79.67,82.26,84.52,69.61,65.49,71.43,59.34,82.63,89.10,73.58,70.59,77.53
gemini_1.5_pro_rag,90.00,90.62,74.84,89.69,92.41,92.59,84.27,86.59,89.78,88.39,81.37,76.99,76.92,76.37,87.37,92.83,80.19,86.16,86.00
qwen,71.25,56.25,53.46,62.89,77.85,75.31,64.04,67.48,69.89,68.39,52.94,40.71,67.03,50.00,72.11,82.35,65.09,63.32,66.02
qwen_rag,85.00,71.88,67.30,74.23,84.81,83.33,74.53,78.05,79.03,78.06,67.65,61.95,78.02,60.44,78.95,88.85,75.47,76.47,76.68
Llava,26.25,25.00,22.64,35.05,35.44,34.57,26.59,36.59,38.71,24.52,17.65,23.01,35.16,17.03,34.74,28.97,25.47,24.57,28.73
Llava_rag,38.75,35.42,28.30,45.36,39.87,43.21,31.84,43.90,47.31,30.32,25.49,30.97,39.56,29.12,41.58,31.78,31.13,29.41,35.47
Llama_3.2_vision,33.33,16.67,20.13,15.46,31.01,0.00,16.85,26.42,26.88,18.33,14.47,30.43,20.75,22.06,NaN,NaN,NaN,NaN,NaN
Llama_3.2_vision_rag,60.61,26.04,37.11,30.93,51.16,3.33,32.58,41.87,39.25,31.67,25.00,49.57,29.25,36.88,NaN,NaN,NaN,NaN,NaN
qwen2_vl,73.75,64.58,63.52,76.29,84.81,74.07,74.53,74.39,80.11,78.06,69.61,58.41,74.73,53.85,80.00,82.24,66.98,71.28,73.27
qwen2_vl_rag,82.50,76.04,71.70,83.51,85.44,82.10,80.90,81.30,87.10,83.87,79.41,68.14,79.12,66.48,83.68,86.29,76.42,80.97,80.40

In [51]:
topic_result.to_csv('/Volumes/Jennie/Reasoning/FinReasoning/evaluation/Topic_Accuracy1.csv')

In [5]:
data=pd.read_csv('/Users/sden118/Desktop/FinReasoning/evaluation/errorType.csv')
data.groupby(['Error']).count()

               ID  error type  Model
Error
calculation   276         276    276
image         102         102    102
option        147         147    147
other         338         338    338
question     2315        2315   2315